.content {
    min-height: 90vh;
}

.header {
    background: linear-gradient(aqua, black);
    height: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.headerLogo {
    height: 50px;
    width: 200px;
    position: relative;
    z-index: 1;
}

nav {
    position: relative;
    bottom: 48px;
    left: 3%;
}

#offCanvasImg {
    height: 50px;
    width: 50px;
}

.banner {
    min-height: 150vh;
    background-image: url('./assets/images/20220529_064956\ \(1\).jpg');
    background-size: cover;

}

.footer {
    background: linear-gradient(aqua, black);
    min-height: 5vh;
    display: flex;
    justify-content: center;
}

.iconContainer {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}