* {
    font-family: 'Play', serif;
    font-size: 20px;
}

.content {
    min-height: 80vh;
}

.header {
    background: linear-gradient(aqua, black);
    height: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
}

.headerLogo {
    height: 50px;
    width: 200px;
    position: relative;
    z-index: 1;
}

nav {
    position: relative;
    bottom: 48px;
    left: 3%;
}

#offCanvasImg {
    height: 50px;
    width: 50px;
}

.banner {
    min-height: 35vh;
    background-image: url('./assets/images/DOSSAS Banner 2 12-5-22.png');
    background-size: cover;
    background-position: center;
}

#homeContent {
    display: flex;
}

#homeParagraphs {
    margin: 20px;
    padding: 10px;
    border: 3px solid aqua;
    border-radius: 10px;
}

#cover_photo {
    max-width: 50%;
    max-height: auto;
}

#aboutPage {
    text-align: center;
    border: 3px solid aqua;
    border-radius: 10px;
    margin: 10px;
}

.aboutHeader {
    font-size: 50px;
}

.aboutParagraph {
    padding: 15px;
}

#servicesPage {
    border: 3px solid aqua;
    border-radius: 10px;
    margin: 10px;
}

#servicesHeader {
    text-align: center;
    font-size: 50px;
}

.serviceCard {
    border-top: 2px solid gray;
    padding: 10px;
}

.footer {
    background: linear-gradient(aqua, black);
    min-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconContainer {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}